{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/admin/collection-forms.css" />
    <link rel="stylesheet" href="/assets/plugins/jquery/jquery-ui.min.css" />
    <link rel="stylesheet" href="/assets/css/admin/tabs.css" />
    <link rel="stylesheet" href="/assets/plugins/ckeditor/ckeditor5.css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/assets/js/admin/collection-forms.js"></script>
    <script type="text/javascript" src="/assets/plugins/jquery/jquery-ui.min.js"></script>
    <script>
        $( function() {
            $( "#tabs" ).tabs();
        } );
    </script>
    <script type="importmap">
        {
            "imports": {
                "ckeditor5": "/assets/plugins/ckeditor/ckeditor5.js",
                "ckeditor5/": "/assets/plugins/ckeditor/"
            }
        }
    </script>
    <script type="module" src="/assets/plugins/ckeditor/init.js"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ 'page.add' | trans }}</h1>
        {{ form_start(formPage) }}
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">Treść</a></li>
                <li><a href="#tabs-2">SEO</a></li>
            </ul>
            <div id="tabs-1">
                <div class="form-row">
                    <div class="form-label">{{ form_label(formPage.title) }}</div>
                    <div class="form-errors">{{ form_errors(formPage.title) }}</div>
                    <div class="form-widget">{{ form_widget(formPage.title) }}</div>
                </div>
                <div class="form-row">
                    <div class="form-label">{{ form_label(formPage.slug) }}</div>
                    <div class="form-errors">{{ form_errors(formPage.slug) }}</div>
                    <div class="form-widget">{{ form_widget(formPage.slug) }}</div>
                </div>
                <div class="form-row">
                    <div class="form-label">
                        {{ form_widget(formPage.isActive) }}
                        {{ form_label(formPage.isActive) }}
                    </div>
                    <div class="form-errors">{{ form_errors(formPage.isActive) }}</div>
                </div>
                <div class="form-row">
                    <div class="form-label">{{ form_label(formPage.author) }}</div>
                    <div class="form-errors">{{ form_errors(formPage.author) }}</div>
                    <div class="form-widget">{{ form_widget(formPage.author) }}</div>
                </div>
                <div class="form-row">
                    <div class="form-label">{{ form_label(formPage.content) }}</div>
                    <div class="form-errors">{{ form_errors(formPage.content) }}</div>
                    <div class="form-widget">
                        {{ form_widget(formPage.content, { 'id': 'editor' }) }}
                    </div>
                </div>
            </div>
            <div id="tabs-2">
                <div class="form-row">
                    <div class="form-label">{{ form_label(formPage.seoTitle) }}</div>
                    <div class="form-errors">{{ form_errors(formPage.seoTitle) }}</div>
                    <div class="form-widget">{{ form_widget(formPage.seoTitle) }}</div>
                </div>
                <div class="form-row">
                    <div class="form-label">{{ form_label(formPage.seoDescription) }}</div>
                    <div class="form-errors">{{ form_errors(formPage.seoDescription) }}</div>
                    <div class="form-widget">{{ form_widget(formPage.seoDescription) }}</div>
                </div>
                <div class="form-row">
                    <div class="form-label">{{ form_label(formPage.robots) }}</div>
                    <div class="form-errors">{{ form_errors(formPage.robots) }}</div>
                    <div class="form-widget">{{ form_widget(formPage.robots) }}</div>
                </div>
                <div class="form-row">
                    <div class="form-label">{{ form_label(formPage.seoOgTitle) }}</div>
                    <div class="form-errors">{{ form_errors(formPage.seoOgTitle) }}</div>
                    <div class="form-widget">{{ form_widget(formPage.seoOgTitle) }}</div>
                </div>
                <div class="form-row">
                    <div class="form-label">{{ form_label(formPage.seoOgDescription) }}</div>
                    <div class="form-errors">{{ form_errors(formPage.seoOgDescription) }}</div>
                    <div class="form-widget">{{ form_widget(formPage.seoOgDescription) }}</div>
                </div>
                <div class="form-row">
                    <div class="form-label">{{ form_label(formPage.seoOgSection) }}</div>
                    <div class="form-errors">{{ form_errors(formPage.seoOgSection) }}</div>
                    <div class="form-widget">{{ form_widget(formPage.seoOgSection) }}</div>
                </div>
                <div class="form-row">
                    <div class="form-label">{{ form_label(formPage.seoOgTags) }}</div>
                    <div class="form-errors">{{ form_errors(formPage.seoOgTags) }}</div>
                    <ul class="collection"
                        data-index="{{ formPage.seoOgTags|length > 0 ? formPage.seoOgTags|last.vars.name + 1 : 0 }}"
                        data-prototype="{{ form_widget(formPage.seoOgTags.vars.prototype)|e('html_attr') }}"
                    ></ul>
                    <button type="button" class="collection-btn" data-collection-holder-class="collection">{{ 'seo.add_tag' | trans }}</button>
                </div>
            </div>
        </div>
        <div>
            <a href="{{app.request.headers.get('referer')}}" class="return-btn"><i class="fa fa-arrow-left" ></i>&nbsp{{ 'return' | trans }}</a>
            {{ form_widget(formPage.save, { 'label': 'save_form' }) }}
        </div>
        {{ form_end(formPage, {render_rest: false}) }}
    </div>
{% endblock %}
