{% set actualPath =  app.request.getBaseUrl ~ app.request.getPathInfo %}

<aside>
    <nav class="main-menu">
        <ul>    
            <li>
            	<a href="{{ path('dashboard') }}" {% if actualPath == path('dashboard') %}class="active"{% endif %}>
            		<i class="fa fa-area-chart" ></i>{{ 'menu.dashboard' | trans }}
            	</a>
            </li>
            <li class="menu-toggle">
            	<a href="#" {% if 'cms' in actualPath %}class="active"{% endif %}>
            		<i class="fa fa-file-text" ></i>{{ 'menu.cms' | trans }}
            	</a>
                <ul {% if 'pages' in actualPath %}style="display: block;"{% endif %}>
                    <li>
                        <a href="{{ path('web_page_get_list') }}"  {% if actualPath == path('web_page_get_list') %}class="active"{% endif %}>
                            <i class="fa fa-files-o" ></i>{{ 'menu.pages' | trans }}
                        </a>
                    </li>
                </ul>
            </li>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ROOT') %}
            <li class="menu-toggle">
            	<a href="#" {% if 'settings' in actualPath %}class="active"{% endif %}>
            		<i class="fa fa-cogs" ></i>{{ 'menu.settings' | trans }}
            	</a>
                <ul {% if 'settings' in actualPath %}style="display: block;"{% endif %}>
                    <li>
                    	<a href="{{ path('web_user_get_list') }}" {% if actualPath == path('web_user_get_list') %}class="active"{% endif %}>
                    		<i class="fa fa-users" ></i>{{ 'menu.users' | trans }}
                    	</a>
                    </li>
                    <li>
                        <a href="{{ path('web_role_get_list') }}" {% if actualPath == path('web_role_get_list') %}class="active"{% endif %}>
                            <i class="fa fa-shield" ></i>{{ 'user.roles' | trans }}
                        </a>
                    </li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </nav>
    <div class="copyright">
        <i class="fa fa-copyright" ></i>&nbsp{{ "now"|date("Y") }}&nbspPaweł&nbspPoloczek
    </div>
</aside>