{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ 'user.edit_password' | trans }}</h1>
        {{ form_start(formEditPassword) }}
        <div class="form-row">
            <div class="form-label">{{ form_label(formEditPassword.oldPassword) }}</div>
            <div class="form-errors">{{ form_errors(formEditPassword.oldPassword) }}</div>
            <div class="form-widget">{{ form_widget(formEditPassword.oldPassword) }}</div>
        </div>
        <div class="form-row">
            <div class="form-label">{{ form_label(formEditPassword.newPassword.first) }}</div>
            <div class="form-errors">{{ form_errors(formEditPassword.newPassword.first) }}</div>
            <div class="form-widget">{{ form_widget(formEditPassword.newPassword.first) }}</div>
        </div>
        <div class="form-row">
            <div class="form-label">{{ form_label(formEditPassword.newPassword.second) }}</div>
            <div class="form-errors">{{ form_errors(formEditPassword.newPassword.second) }}</div>
            <div class="form-widget">{{ form_widget(formEditPassword.newPassword.second) }}</div>
        </div>
        <div>
            <a href="{{app.request.headers.get('referer')}}" class="return-btn"><i class="fa fa-arrow-left" ></i>&nbsp{{ 'return' | trans }}</a>
            {{ form_widget(formEditPassword.save, { 'label': 'save_form' }) }}
        </div>
        {{ form_end(formEditPassword) }}
    </div>
{% endblock %}
